.gradle/
build/
out/
bin/
.nb-gradle/
nbbuild/
nbdist/
nbproject/private/
dist/

.idea/
*.iml
*.ipr
*.iws

.vscode/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.log
*.tmp

.DS_Store
Thumbs.db

*.class
*.jar
*.war
*.ear

/test-output/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/

!build.gradle
!settings.gradle
!README.md
!gradlew
!gradlew.bat